/* colores usados */
:root {
    --colorprimario: #6A6969;
    --colorsecundario : #928A8A;
    --colorterciario : #F9A81B;
    --colorcuarto: #D28E18;
    --colorquinto: #9f8e8e;
    --colorseis:#322f2f;
  }
*{
    list-style: none;
    font-size: 16px;
    color: var(--colorprimario);
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'roboto';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    padding-top: 150px;
}
.h1{
    font-size: 35px;
    color: var(--colorprimario);
}
.h1__box{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 30px 0px;
}
.h1__box--img{
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    position: fixed;
}
.header, .footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: #f6e6e6;
    box-shadow: 0px 2px 15px #e4d7d7f5;
    z-index: 100;
}
.footer{
    position: inherit;
    margin-top: auto;
}
.nav__item, .header__boxLogin, .header__boxLogin--p, .enlaces{
    margin: 2px;
    display: inline-block;
    margin-top: auto;
    font-size: 20px;
    color: var(--colorprimario);
}
.enlaces{
    font-size: 20px;
    display: block;
}
/* estilos boton cita */
.main__botonCita{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 100px;
    bottom: 140px;
    right: 20px;
}
/* posters preview */
.container{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}
.poster{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    border-radius: 40px;
    padding: 40px
}
.poster__description{
    margin-top: auto;
    margin-bottom: auto;
}
.poster__description--h1{
    font-size: 50px;
    color: var(--colorprimario);
}
.poster__description--h1--canva{
    font-size: 72px;
}
.poster__description--span{
    color: var(--colorterciario);
    margin: 0;
    padding: 0;
}
.poster__description--span2{
    color: var(--colorquinto);
}
.poster__description--p{
    margin: 30px 0px;
}
 .bottom{
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    background-color: var(--colorsecundario);
    color: white;
}

.h2{
    font-size: 35px;
}
.poster__img{
    width: 40%;
    object-fit: contain;
}
/* poster vacunacion */
.poster__vacunacion{
    background: linear-gradient(to right, white, #fcf0d8);
}
.bottom--orange{
    background-color: var(--colorterciario);
}
/* poster peluqueria */
.poster__peluqueria{
    position: relative;
    background: linear-gradient(to right, white, #fbeded);
}
.bottom--gray{
    background-color: var(--colorprimario);
}
.poster__img--sec{
    position: absolute;
    width: 10%;
    top: 50px;
    right: -10px;
    transform: rotate(-35deg);
}
/* ifrem */
/* ubicacion google mapas */
.ifrem{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.ifrem--box{
    display: flex;
    justify-content: center;
}
.section__vacuna--h2-ifrem{
    margin-bottom: 35px;
}
/* parrafo recuperar ususario */
.enlaces--loadd{
    margin-bottom: 15px;
}
/* servicvios */
.h2--servicios{
    font-size: 22px;
    margin: 10px;
    color: var(--colorseis);
}
.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 12;
}
.servicios__box--container{
    padding: 0px 20px;
    text-align: center;
}
.servicios__box{
    margin: 8px;
    width: 35%;
    max-width: 300px;
}
.servicios__img{
    max-width: 100%;
}
.bottom--servicios{
    width: 100%;
    margin: 10px 0px 5px 0px;
}
.form__header{
    height: 60px;
    display: flex;
    justify-content:space-evenly;
    align-content: start;
    padding: 15px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.537);
}
.form{
    width: 35%;
    height: auto;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.617);
    background-color: #f6e6e6;
}
.form__body{
    padding: 35px;
}
.box__bottom{
    margin-top: 20px;
    margin-bottom: 25px;
}
.form__h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.form__header--img{
    margin-right: auto;
    margin-left: auto;
}
.input{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid #9f8e8e;
}
.form__span{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.form__boxayuda{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 6px;
    border-radius: 30px;
    border: 1px solid black;
}
.form__boxayuda--img{
    width: 25px;
}
.form__boxayuda--p{
    display: inline-block;
    margin-left: 10px;
}
.box__bottom--logout{
    margin-bottom: 10px;
}
.box__label{
    margin-bottom: 25px;
}
/* formulario citas */
.form__header--cita{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 25px;
}
.form__radio{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 10px 0px;
    border-radius: 11px;
    box-shadow: 1px 1px 5px rgba(79, 77, 77, 0.617);
}
.box__bottom--cita{
    border-radius: 11px;
}
/* seccion de citauser celular */
.form__p{
    text-align: center;
    margin-bottom: 25px;
}
/* seccion de validar celular */
.input_dig{
    margin: 0px 5px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid rgb(104, 102, 102);
}
.box_form_dig{
    display: flex;
    justify-content:center
}
.h3__form{
    margin: 30px 0px;
}